.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .btn {
    display: inline-block;
    color: rgb(245, 240, 240);
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    box-shadow: 0 1px 0 rgba(29, 146, 182, 0.45);
    border-radius: 2px;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  body {
    font-family: "Open Sans", sans-serif;
    background-color: #282828;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    color: rgb(11, 228, 47);
    font-size: 1rem;
    font-weight: 300;
    background-color: #111111;
    outline-style: none!important;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1001;
    margin: 0 0 20px 0;
    
  }
  
  .logo {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    color: green;
  }
  .logo span {
    font-weight: 700;
  }
  .logo .sub-info {
    font-size: 12px;
    letter-spacing: 4px;
  }
  
  .navigation a {
    color: rgb(252, 247, 247);
    text-transform: uppercase;
    font-size: 14x;
    margin-left: 20px;
    font-weight: 700;
  }
  .navigation a.active {
    color: blueviolet;
  }
  
  .more {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  
  .jumbotron {
    width: 80%;
    margin: 80px auto 0 auto;
  
  }
  
  .sub-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .sub-header .close-btn {
    font-size: 30px;
    color: green;
    cursor: pointer;
  }

  .sub-header .title {
    line-height: 1;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
  }
  .sub-header .title span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    text-transform: lowercase;
    color: rgb(252, 244, 244);
  }
  
  .thumb-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #bbb;
  }
  
  .thumb-unit {
    width: 24%;
    margin: 0 0.5% 20px 0.5%;
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
  }

  .thumb-unit.is-active {
    border: none;
    box-shadow: 0px 3px 20px rgba(245, 240, 240, 0.4);
    transform: scale(1.1);
    z-index: 1000;
    background: white;
    animation: tada ease-in-out 1000ms forwards;
    
  }
  .thumb-unit.stop-animation {
    animation-play-state: pause;
  }
  .thumb-unit:hover {
    border: none;
    box-shadow: 0px 3px 20px rgba(198, 8, 223, 0.4);
    transform: scale(1.1);
    z-index: 1000;
    background: rgb(41, 39, 39);

  

}
.thumb-unit:nth-child(1) .box {
  background-image: url(https://www.notebookcheck.net/uploads/tx_nbc2/4_zu_3_asus_gx800.jpg);
}

  .thumb-unit:nth-child(2) .box {
    background-image: url(https://img.freepik.com/fotos-premium/retrato-jugador-jugueton-loco-que-disfruta-jugando-videojuegos_194143-416.jpg?w=2000);
  }
  .thumb-unit:nth-child(3) .box {
    background-image: url(https://i.blogs.es/4fda57/screenshot_4125/1366_2000.jpeg);
  }
  .thumb-unit:nth-child(4) .box {
    background-image: url(https://culturageek.com.ar/wp-content/uploads/2017/02/rickmortyfunko.jpg);
  }
  .thumb-unit:nth-child(5) .box {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuKeifi4PN1Ob0SPju2QQEBWnsCCV7ZMbIgA&usqp=CAU);
  }
  .thumb-unit:nth-child(6) .box {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRqRjmr71T5EKvs2uVpg2LOe2EAV2WqmEeZA&usqp=CAU);
  }
  .thumb-unit:nth-child(7) .box {
    background-image: url(https://s3.amazonaws.com/businessinsider.mx/wp-content/uploads/2021/12/08164547/Comparacio%CC%81n-de-consolas.jpg);
  }
  .thumb-unit:nth-child(8) .box {
    background-image: url(https://i.linio.com/p/6fd395f042fc7cb8350ce4f6d909822c-product.jpg);
  }
  .thumb-unit .heading {
    display: flex;
    justify-content: space-between;
  }
  .thumb-unit .heading span {
    font-size: 20px;
    color: greenyellow;
    font-weight: 700;
  }
  .thumb-unit .box {
    width: 100%;
    margin: 10px 0px;
    transition: all ease-in-out 300ms;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTXPoeXWgsnGXHUV281dC1GJF95aPYl-F0WcQ1ZG5UJ4P3xc9n81Q);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .thumb-unit .box:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .thumb-unit .info {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 700;
  }
  .thumb-unit .info .icon {
    font-size: 1rem;
    color: rgb(109, 128, 0);
  }
  
    .site-footer
    {
      background-color:#26272b;
      padding:45px 0 20px;
      font-size:15px;
      line-height:24px;
      color:#737373;
    }
 .site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
 .site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size: 1rem;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer h7
{
  color:#fff;
  font-size: 1rem;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}
input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;

}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;

}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #26272b;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}
